.active {
  color: #fff !important; }

li {
  font-size: 16px;
  font-weight: 500; }

hr:not([size]) {
  height: 4px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* UTILITIES */
/* TEXT MODIFICATIONS */
body {
  font-family: "Montserrat", sans-serif;
  background-color: white; }

h1 {
  font-size: 36px;
  font-weight: 400; }

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px; }

h3 {
  font-size: 16px;
  font-weight: 500; }

a {
  color: black;
  text-decoration: none; }

.light-text {
  font-weight: 300;
  font-size: 16px; }

.regular-text {
  font-weight: 400;
  font-size: 16px; }

.link-color {
  color: #3485FA; }

/* BACKGROUND COLORS */
.aquaBackground {
  background-color: #9AD7D8; }

.aquaBackground-gradient {
  background: linear-gradient(#9ad7d8 0%, #59b2b4 100%); }

.bg-gray {
  background-color: #EDEDED; }

.heroImg {
  height: 70vh;
  object-fit: cover; }

.carouselImgSize {
  height: 60vh; }

.carousel-inner img {
  margin: auto; }

.radioGroup label {
  display: block; }

#innerLine1 {
  height: 4px; }

#outerLine1 {
  height: 8px; }

.footerCart {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25); }

.emptyCart {
  margin-top: 20vh;
  margin-bottom: 20vh; }
