
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* UTILITIES */

        /* TEXT MODIFICATIONS */
body{
    font-family: $body-font;
    background-color: white;
}

h1{
    font-size: $h1-size;
    font-weight: $h1-weight;
}

h2{
    font-size: $h2-size;
    font-weight: $h2-weight;
    line-height: $h2-height;
}

h3{
    font-size: $h3-size;
    font-weight: $h3-weight;
}

a{
    color: black;
    text-decoration: none;
}

.light-text{
    font-weight: $light-weight;
    font-size: $light-size;
}
  
.regular-text{
    font-weight: $regular-weight;
    font-size: $regular-size;
}

.link-color{
    color: $link-color;
}


        /* BACKGROUND COLORS */

.aquaBackground{
    background-color: $aqua-background;
}

.aquaBackground-gradient{
    background: $aqua-background-gradient;
}

.bg-gray{
    background-color: $gray-background;
}